* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

/* VARIABLES */
:root {
    --text-color-primary:red;
    --text-color-secondary:yellow;
    --background-color-primary: #d9dbdb;
    --background-color-secondary: rgb(62, 62, 62);
    --background-color-modal:white;
}

body {
    background-color: var(--background-color-primary);
}

.app {
    position: relative;
}

.main-container {
    margin: 0 auto 0 auto;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-image: var(--background-image-primary);
}

/* UTILITIES */
/* Color */
.current-score-color-below {
    color: red;
}

.current-score-color-equal{
    color: orange;
}

.current-score-color-more {
    color: green;
}

.best-score-color {
    color:darkgoldenrod
}

/* Displays */
.hide {
    display: none;
}

.show {
    z-index: 1;
    display: flex !important; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    animation-name: modalopen;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 0.9}
}



/* TITLE */
#title {
    font-family: 'Fascinate', cursive;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    color: var(--text-color-primary);
    background-color: var(--background-color-secondary);
}

#title span {
    text-align: center;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

#main-icon {
    font-size: 5rem;
    color: var(--text-color-secondary);
}

/* SCOREBOARD */

#scoreboard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 1.2rem;
}

#scoreboard > div {
    margin-right: 1rem;
}


/* GALLERY */
#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

/* CARD */
.card {
    border: white 1px solid;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    text-align: center;
    margin: 1rem 2rem 1rem 2rem;
    padding: 2rem 1rem 2rem 1rem;
}

.card:hover {
    cursor: pointer;
    border: var(--text-color-primary) solid 1px;

}

.card:hover img {
    transform: scale(1.1);
}

/* MODAL */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    opacity: 0.9
}

#modal > div {
    border: 2px solid black;
    border-radius: 10px;
    padding: 2rem;
    width: fit-content;
}


