* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
    background-color: black;
}

.app {
    position: relative;
}

.main-container {
    margin: 0 auto 0 auto;
    max-width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: red;
}

/* UTILITIES */
/* Color */
.current-score-color-below {
    color: red;
}

.current-score-color-equal{
    color: orange;
}

.current-score-color-more {
    color: green;
}

.best-score-color {
    color:darkgoldenrod
}

/* Displays */
.hide {
    display: none;
}

.show {
    z-index: 1;
    display: flex !important; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.9;
    animation-name: modalopen;
    animation-duration: 2s;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 0.9;}
}



/* TITLE */
#title {
    font-family: 'Fascinate', cursive;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    position: fixed;
    top:0;
}

#main-icon {
    font-size: 5rem;
    color: red;
}

/* SCOREBOARD */

#scoreboard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 1.2rem;
}

#scoreboard > div {
    margin-right: 1rem;
}


/* GALLERY */
#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

/* CARD */
.card {
    border: black 1px solid;
    text-align: center;
    margin: 1rem 2rem 1rem 2rem;
}

/* MODAL */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

#modal > div {
    border: 2px solid black;
    border-radius: 10px;
    padding: 2rem;
    width: fit-content;
}