* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.main-container {
    margin: 1rem auto 1rem auto;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* UTILITIES */
/* Color */
.current-score-color-below {
    color: red;
}

.current-score-color-equal{
    color: orange;
}

.current-score-color-more {
    color: green;
}

.best-score-color {
    color:darkgoldenrod
}

/* Displays */
.hide {
    display: none;
}

.show {
    display: block;
}

/* TITLE */
#title {
    font-family: 'Fascinate', cursive;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-icon {
    font-size: 5rem;
    color: red;
}

/* SCOREBOARD */

#scoreboard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 1.2rem;
}

#scoreboard > div {
    margin-right: 1rem;
}


/* GALLERY */
#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

/* CARD */
.card {
    border: black 1px solid;
    text-align: center;
    margin: 1rem 2rem 1rem 2rem;
}

/* MODAL */
#modal {
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#modal > div {
    position: relative;
    top: 50%;
}